@charset "utf-8";


/* Base */
body {
    font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    margin: 0 auto;
    text-align: center;
    max-width: 450px;
    min-width: 400px;
}

li{
    list-style: none;
}

.main{

}

/* 無料体験受付 */
.btn-area{
    background-color: #C5E3D1;
    height: 288px;
    position: relative;
}
.box{
    background-color: #fff;
    margin: 0 auto;
    width: 90%;
    height: 260px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
   
}

.btn-area h1 {
    font-size: 24px;
    letter-spacing: 4px;
    font-family: 'Inria Sans', sans-serif;
    margin-bottom: 20px;
}
.convertion-link1{
    padding: 17px 24px;
    background-color: brown;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    color: #fff;
    width: 80%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    letter-spacing: 2px;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}
.convertion-link2{
    padding: 17px 24px;
    background-color:green;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    color: #fff;
    width: 80%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    letter-spacing: 2px;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}

/* well-fitとは */
.about{
    height: 288px;
}
.about h2{
    font-size: 20px;
    margin: 30px 0px 15px;
}

.about h3{
    font-size: 16px;
    margin: 40px;
    letter-spacing: 1.5px; /* 文字間隔を 2px 広げる */
}

.about p{
    font-size: 10px;
    line-height: 2;
    letter-spacing: 1.2px; /* 文字間隔を 2px 広げる */

}

/* 悩みについて */
.fear{
    background-color: #BBBBBB;
    height: 530px;
    position: relative;
    z-index: -2;
}

.fear-stomach{
    position: absolute;
    transform: translateX(-45%);
    filter: grayscale(10%) blur(0.0px) opacity(50%);
    z-index: -1;
    max-width: 380px;
}

.fear-image h2{
    padding: 10px;
    color: #fff;
    opacity: 1;
    text-shadow: 1px 2px 3px #808080;
}

.fear-section{
    /* position: absolute; */
    /* left: 60%; */
    /* top: 55%; */
    /* margin-top: 210px; */
    transform: translateY(100%); 
}

.fear-all{
    margin: 0 auto;
    padding: 0;
}

ul{
    width: 275px;
}
.fear li{
    display: flex;
    text-align: center;
    margin-bottom: 13px;
    border-bottom: dashed 1px #333
}
.fear-all p{
    margin: 0px 0px 0px 15px;
    font-size: 13px;
    text-align: left;
}

.guruguru{
    text-decoration:underline dotted #333;

}

/* セクションの説明 */
.section{
    background-color: #F2FBF7;
    position: relative;
}

.section .allow{
    position: absolute;
    z-index: 1;
    transform: translateX(-50%) translateY(-40%);
}

.section h1{
    font-size: 20px;
    margin: 0 auto;
    padding: 40px 0px;
    background: linear-gradient(90deg, #cbd877 0%, #bdc48c 45%, #A5B33D 70%, #c6d363 85%, #C2D057 90% 100%);
    /* background: linear-gradient(90deg, #8c7537 0%, #dbb00b 45%, #fde79d 70%, #dbb10c 85%, #bc7f04 90% 100%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

dt, dd ,ol {
	margin: 0;
	padding: 0;
}

.section-nunmer{
    color: #8BC8A4;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

.section-name{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

.border{
    width: 140px;
    color: #ccd97d;
}

.marker{
    background: linear-gradient(transparent 75%, #f7e194 75%);
}

.section-description{
    line-height: 2.0;
    font-size: 11px;
    margin: 12px 0px;
    text-align: left;
    letter-spacing: 1px;
    display: inline-block;

}

.section-description-2{
    font-size: 9px;
    margin: 10px 0px 10px 10px;
    text-align: left;
    line-height: 1.7;
}

.image-left{
    text-align: left;
    margin-left: 8px;
}

.image-big-left{
    border-radius: 5%;
    text-align: left;
    object-fit: cover;
    /* object-position: 30% 50%; */


}

.image-right{
    /* transform: translateX(28%) translateY(-110%); */
    margin-left: 10px; /* 画像を左側に寄せる */
}

.image-small-right{
    border-radius: 5%;
    /* text-align: left; */
    object-fit: cover;
    /* object-position: 30% 50%; */
    display: inline-block;
    border: 1px solid #333;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.flex-container {
    display: flex;
    align-items: flex-end; 
    gap: 5px; /* 要素間の余白 */
    margin-top: -40px;
    justify-content: flex-end; /* 右寄せ */
    margin-right: 18px;
  }

  .section ol{
    max-width: 420px;
    margin: 0 auto;
  }